<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Book</title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <table class="table table-hover small table-responsive-sm">
        <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th>Book available</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, iterationStatus : ${bookList}">
            <td th:text="${iterationStatus.count}"> </td>
            <td th:text="${book.judul}"></td>
            <td th:text="${book.pengarang}"></td>
            <td th:text="${book.getJenisBuku().nama}"></td>
            <td th:text="${available[__${iterationStatus.index}__]}"></td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary mr-2"><a class="text-light" th:href="@{/book/update/{idBook}(idBook=${book.id})}" style="text-decoration: none;">update</a></button>
                    <button class="btn btn-primary mr-2"><a class="text-light" th:href="@{/loan/add/{idBook}(idBook = ${book.id})}" style="text-decoration: none;">borrow</a></button>
                    <button class="btn btn-danger"><a class="text-light" th:href="@{/book/delete/{idBook}(idBook=${book.id})}">delete</a></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>