<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div th:if="${success == true}" id="pesan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Peminjaman berhasil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Peminjaman buku berhasil </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-success text-white" data-dismiss="modal">Oke!</button>
            </div>
        </div>
    </div>
</div>
<div th:if="${success == false}" id="pesan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Peminjaman gagal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Peminjaman buku gagal </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger text-white" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div>
            <table class="table border text-center table-striped table-responsive-sm">
                <thead class="thead-dark">
                <tr >
                    <th class="pt-3 pb-3">No</th>
                    <th class="pt-3 pb-3">Title</th>
                    <th class="pt-3 pb-3">Author</th>
                    <th class="pt-3 pb-3">Type</th>
                    <th class="pt-3 pb-3">Book available</th>
                    <th class="pt-3 pb-3">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book, iterationStatus : ${bookList}">
                    <td th:text="${iterationStatus.count}"> </td>
                    <td th:text="${book.judul}"></td>
                    <td th:text="${book.pengarang}"></td>
                    <td th:text="${book.getJenisBuku().nama}"></td>
                    <td th:text="${available[__${iterationStatus.index}__]}"></td>
                    <td>


                        <!-- Modal Update -->
                        <div class="modal fade" th:attr="id='model'+${book.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Update Book</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form th:action="@{/book/update/{id}(id=${book.id})}" th:object="${book}" method="POST">
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="inputJumlah" style="font-size: 16px;"><b>Jumlah Buku :</b></label>
                                                <div class="col-md-8">
                                                    <input type="number" id="inputJumlah" th:value="${book.jumlah}" class="form-control border rounded-pill" name="jumlah">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary pl-4 pr-4 p-2" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Modal delete -->
                        <div class="modal fade" th:attr="id='delete'+${book.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Book</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <div>Apakah anda yakin ingin menghapus buku <b th:text="${book.judul}+' ?'"></b></div>
                                        </div>

                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button class="btn btn-primary pr-5 pl-5"><a class="text-light" th:href="@{/book/delete/} + ${book.id}" style="text-decoration: none !important;">Yes</a></button>
                                        <button class="btn btn-danger pr-5 pl-5" data-dismiss="modal" aria-label="Close">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button sec:authorize="hasAuthority('Pustakawan')" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#model'+${book.id}"><a class="text-light" style="text-decoration: none;">update</a></button>
                            <button sec:authorize="hasAuthority('Guru')"  class="btn btn-dark"><a class="text-light" th:href="@{/loan/add/{idBook}(idBook = ${book.id})}" style="text-decoration: none;">borrow</a></button>
                            <button sec:authorize="hasAuthority('Siswa')"  class="btn btn-dark"><a class="text-light" th:href="@{/loan/add/{idBook}(idBook = ${book.id})}" style="text-decoration: none;">borrow</a></button>
                            <button sec:authorize="hasAuthority('Pustakawan')" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#delete'+${book.id}"><a class="text-light">delete</a></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
<style>
    .jumbotron{
        background-color:transparent !important;
    }
    .close{
        color:white;
    }

    .close:hover{
        color:white;
    }

    .card{
        box-shadow: 0px 0px 8px #424242;
        border:none;
    }
    .modal-header{
        color:white;
        background-color:#162229;
    }

    .btn-primary{
        background-color: #279286;
        border: none;
    }

    .btn-primary:hover{
        background-color: #05828e;
        border: none;
    }

    .btn-primary:active{
        background-color: #05828e !important;
        border: none;
    }


</style>
</html>
<!--

    th:href="@{/book/update/{idBook}(idBook=${book.id})}" 
-->