    /*
    Flaticon icon font: Flaticon
    Creation date: 09/11/2019 10:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-book:before { content: "\f100"; }
.flaticon-loupe:before { content: "\f101"; }
.flaticon-file:before { content: "\f102"; }
.flaticon-inspection:before { content: "\f103"; }
.flaticon-execution:before { content: "\f104"; }
.flaticon-content:before { content: "\f105"; }
.flaticon-implement:before { content: "\f106"; }
.flaticon-loan:before { content: "\f107"; }
.flaticon-box:before { content: "\f108"; }
.flaticon-shield:before { content: "\f109"; }
.flaticon-application:before { content: "\f10a"; }
    
    $font-Flaticon-book: "\f100";
    $font-Flaticon-loupe: "\f101";
    $font-Flaticon-file: "\f102";
    $font-Flaticon-inspection: "\f103";
    $font-Flaticon-execution: "\f104";
    $font-Flaticon-content: "\f105";
    $font-Flaticon-implement: "\f106";
    $font-Flaticon-loan: "\f107";
    $font-Flaticon-box: "\f108";
    $font-Flaticon-shield: "\f109";
    $font-Flaticon-application: "\f10a";