:root {
  --main-font-color: #7F7EFF;
}

img {
  width: 100%;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #0b1033;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

.home-title {
  color: #7F7EFF;
}

.home-body {
  width: 100%;
  height: 100%;
  background: url('../images/sitebg.png') no-repeat center fixed;
  background-size: cover;
}

.main-btn {
  font-size: 1.5rem;
  border: 2px solid var(--main-font-color);
  color: #7F7EFF;
  padding: 0.5rem 2rem;
  letter-spacing: 3px;
  margin-right: auto;
  position: relative;
  margin-top: 3rem;
  animation: 0.5s fade 1s forwards;
  display: inline-block;
  transition: all 650ms;
  border-radius: 3px;
  text-transform: uppercase;
}

.main-btn:hover {
	translateY(-1.5rem) scale(1.03);
	background: #7F7EFF;
	color: #FFFFFF
}

.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
}

.section-custom {
  padding: 5rem 0;
}

.header-custom {
  width: 100%;
  height: 100vh;
}

.landing-text-custom {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.menu-custom .container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
}

.section-features {
  display: flex;
  align-items: center;
  justify-content: center;}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
}

.feature-box .icon {
	margin-bottom: 30px;
	font-size: 70px;
	color: #7F7EFF;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.feature-box i {
	font-size: 70px;
	color: #7F7EFF;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.feature-box h3 {
	text-transform: uppercase;
	font-size: 18px;
	color: #2b1640;
	margin-bottom: 30px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.feature-box p {
	color: #6c6e7e;
	line-height: 30px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.feature-box:hover {
transform: translateY(-1.5rem) scale(1.03);
	background: #7F7EFF;
}

.feature-box:hover h3,
.feature-box:hover p,
.feature-box:hover i,
.feature-box:hover .icon {
	color: #fff;
}


.feature-icon {
	font-size: 40px;
	margin-right: 30px;
}


.section-team {
  background-color: #7F7EFF;
  display: flex;
  align-items: center;
  justify-content: center;}
  
.team-title {
	border-bottom: 2px solid #eeeeee;
	color: #eeeeee;
}
  
.team-shape {
width: 8rem;
height: 8rem;
-webkit-shape-outside: circle(50% at 50% 50%);
shape-outside: circle(50% at 50% 50%);
-webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
position: relative; }
.team-image {
height: 100%;
transform: scale(1.2);
transition: all 0.5s; }
.team-name {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 20%);
color: #fff;
text-transform: uppercase;
font-size: 1.5rem;
text-align: center;
opacity: 0;
transition: all 0.5s;
backface-visibility: hidden; }
.team-shape:hover .team-name {
opacity: 1;
transform: translate(-50%, -50%); }
.team-shape:hover .team-image {
transform: scale(1);
filter: blur(3px) brightness(80%); }

.up {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

/* ANIMATIONS */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(127, 126, 255, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(127, 126, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(127, 126, 255, 0);
  }
}
/* ANIMATIONS ENDS */