<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <title>Loan the Book</title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>

<body style="font-family: 'Montserrat', sans-serif;">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div th:if="${ubahStatus == true}" id="pesan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Perubahan Status Berhasil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="'Status pengajuan peminjaman buku dengan id ' + ${loan.id} + ' berhasil diubah!'"> </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger text-white" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 ">
    <div class="col-md-11 mx-auto">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Daftar Peminjaman
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Judul</th>
                        <th>Pengarang</th>
                        <th>Penerbit</th>
                        <th>Jenis</th>
                        <th>Tanggal Peminjaman</th>
                        <th>Tanggal Pengembalian</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pinjam, iterationStatus : *{peminjamanList}">
                        <td th:text="${iterationStatus.count}"> </td>
                        <td th:text="${pinjam.buku.getJudul()}"></td>
                        <td th:text="${pinjam.buku.getPengarang()}"></td>
                        <td th:text="${pinjam.buku.getPenerbit()}"></td>
                        <td th:text="${pinjam.buku.getJenisBuku().nama}"></td>
                        <td th:text="${#dates.format(pinjam.tanggalPeminjaman,'dd-MMM-yyyy')}"></td>
                        <td th:text="${#dates.format(pinjam.tanggalPengembalian,'dd-MMM-yyyy')}"></td>
                        <td>
                            <span th:if="${pinjam.status==0}">Menunggu Persetujuan</span>
                            <span th:if="${pinjam.status==1}">Ditolak</span>
                            <span th:if="${pinjam.status==2}">Disetujui</span>
                            <span th:if="${pinjam.status==3}">Sudah Diambil</span>
                            <span th:if="${pinjam.status==4}">Sudah Dikembalikan</span>
                            <span th:if="${pinjam.status==5}">Overdue</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button sec:authorize="hasAuthority('Pustakawan')" class="btn btn-primary mr-2"><a class="text-light" th:href="@{/loan/update/{id}(id=${pinjam.id})}" style="text-decoration: none;">update</a></button>
                                <button class="btn btn-info"><a class="text-light" th:href="@{/loan/overdue/{id}(id=${pinjam.id})}">Overdue</a></button>
                                <button class="btn btn-danger"><a class="text-light" th:href="@{/loan/delete/{id}(id=${pinjam.id})}">delete</a></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>