<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <title>Daftar Peminjaman</title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>

<body style="font-family: 'Montserrat', sans-serif;">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div th:if="${isBerhasil}" class="alert alert-success" th:text="${message}"></div>
    <div th:if="${isGagal}" class="alert alert-danger" th:text="${message}"></div>
</div>
<div class="row mt-5 ">
    <div class="col-md-11 mx-auto">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Daftar Peminjaman
            </div>
            <div class="card-body">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Judul</th>
                        <th>Pengarang</th>
                        <th>Penerbit</th>
                        <th>Jenis</th>
                        <th>Tanggal Peminjaman</th>
                        <th>Tanggal Pengembalian</th>
                        <th>Status</th>
                        <th sec:authorize="hasAuthority('Pustakawan')">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pinjam, iterationStatus : *{peminjamanList}">
                        <td th:text="${iterationStatus.count}"> </td>
                        <td th:text="${pinjam.buku.getJudul()}"></td>
                        <td th:text="${pinjam.buku.getPengarang()}"></td>
                        <td th:text="${pinjam.buku.getPenerbit()}"></td>
                        <td th:text="${pinjam.buku.getJenisBuku().nama}"></td>
                        <td th:text="${#dates.format(pinjam.tanggalPeminjaman,'dd-MMM-yyyy')}"></td>
                        <td  th:text="${#dates.format(pinjam.tanggalPengembalian,'dd-MMM-yyyy')}"></td>
                        <td>
                            <span th:if="${pinjam.status==0}">Menunggu Persetujuan</span>
                            <span th:if="${pinjam.status==1}">Ditolak</span>
                            <span th:if="${pinjam.status==2}">Disetujui</span>
                            <span th:if="${pinjam.status==3}">Sudah Diambil</span>
                            <span th:if="${pinjam.status==4}">Sudah Dikembalikan</span>
                            <span th:if="${pinjam.status==5}">Overdue</span>
                        </td>

                        <!-- Modal Update -->
                        <div class="modal fade" th:attr="id='update'+${pinjam.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Update Status</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form th:action="@{/loan/update/{id}(id=${pinjam.id})}" th:object="${pinjam}" method="POST">
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="inputStatus" style="font-size: 16px;"><b>Status:</b></label>
                                                <div class="col-md-8">
                                                    <select id="inputStatus" class="form-control border rounded-pill" name="status">
                                                        <option th:value="0">Menunggu Persetujuan</option>
                                                        <option th:value="1">Ditolak</option>
                                                        <option th:value="2">Disetujui</option>
                                                        <option th:value="3">Sudah Diambil</option>
                                                        <option th:value="4">Sudah Dikembalikan</option>
                                                        <option th:value="5">Overdue</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary pl-4 pr-4 p-2" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <td>
                            <div class="btn-group">

                                    <button sec:authorize="hasAuthority('Pustakawan')" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#update'+${pinjam.id}"><a class="text-light" style="text-decoration: none;">update</a></button>
                                <button sec:authorize="hasAuthority('Pustakawan')" class="btn btn-info"><a class="text-light" th:href="@{/loan/overdue/{id}(id=${pinjam.id})}">Overdue</a></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<style>
    .jumbotron{
        background-color:transparent !important;
    }
    .close{
        color:white;
    }

    .close:hover{
        color:white;
    }

    .card{
        box-shadow: 0px 0px 8px #424242;
        border:none;
    }
    .modal-header{
        color:white;
        background-color:#162229;
    }

    .btn-primary{
        background-color: #279286;
        border: none;
    }

    .btn-primary:hover{
        background-color: #05828e;
        border: none;
    }

    .btn-primary:active{
        background-color: #05828e !important;
        border: none;
    }


</style>
</html>