<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <title>Update Loan</title>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Update Loan</div>
                <div class="card-body">
                    <div>
                        <form th:action="@{/loan/update/{id}(id=${loan.id})}" th:object="${loan}" method="POST">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label" for="inputStatus"><b>Status:</b></label>
                                <div class="col-md-8">
                                    <select id="inputStatus" class="form-control border rounded-pill" th:field="${loan.status}" name="status">
                                        <option th:value="0">Menunggu Persetujuan</option>
                                        <option th:value="1">Ditolak</option>
                                        <option th:value="2">Disetujui</option>
                                        <option th:value="3">Sudah Diambil</option>
                                        <option th:value="4">Sudah Dikembalikan</option>
                                        <option th:value="5">Overdue</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>